name: Work Stats Readme

on:
  workflow_dispatch:
  schedule:
    # Runs at 00:00, every 3 days
    - cron: "0 0 */3 * *"

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master 
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME }}
          STOP_AT_OTHER: false
          IGNORED_LANGUAGES: NETRW
          LANG_COUNT: 8
          SHOW_TITLE: true
          SHOW_TOTAL: true
          SHOW_TIME: true
          TIME_RANGE: all_time
          SHOW_MASKED_TIME: false
